{% extends 'base.html.twig' %}
{% block title %}
    {{ 'Model details'|trans }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/slick.css') }}">
{% endblock %}
{% block body %}
    <div class="  container top">
        <div class="col">
            <h2>
                <a class="" href="{{ path('models_list', {'make': make.id}) }}">
                    {{ make.name }}
                </a>
                ->
                {{ model.name }}
            </h2>
            <div class="slider-inner">
                {% for image in model.images %}

                    <img src="{{ asset('images/car_details/'~ image.image) }}" alt="">

                {% endfor %}
            </div>

            <h4>
                {{ 'List of engines which were installed'|trans }}
            </h4>
                {% for engine in model.engines %}
            <div class="col">
                    {{ engine.capacity }}
                    {{ engine.fuel }}
                    {{ engine.power }}
                    {{ engine.abbreviation }}
            </div>
                {% endfor %}
            <h4>
                {{ 'List of engines which were installed'|trans }}
            </h4>
                <div class="col">
                    {{ model.transmission }}
                </div>

        </div>
    </div>
    {% block javasriptsblock %}

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="{{ asset('js/slick.js') }}"></script>
        <script src="{{ asset('js/fade.js') }}"></script>

    {% endblock %}
{% endblock %}
