{% extends 'base.html.twig' %}
{% block title %}
    {{ 'SubModel details'|trans }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/slick.css') }}">
{% endblock %}
{% block body %}
    <div class="  container top">
        <div class="col">

            <div class="slider-inner">
                {% for image in engine.images %}

                    <img src="{{ asset('images/car_details/'~ image.image) }}" alt="">

                {% endfor %}
            </div>

            <h4 class="mt-5">
                {{ 'List of cars which it was installed'|trans }}
            </h4>
            <div class="col">
                {{ engine.capacity }}
                {{ engine.fuel }}
                {{ engine.abbreviation }}
            </div>


            <div class="comments mt-5">
                <h3 id="commentsCount">
                    Comments ({{ engine.comments|length }})
                </h3>
                {% include 'comment/form.html.twig' %}
                <div class="comment pt-5 mb-5" id="commentFields">
                    {% for comment in engine.comments|reverse %}
                        <p>
                            <b>
                                {{ comment.user.firstName }}
                                {{ comment.user.lastName }}
                            </b>
                            <small class="text-secondary ml-4">
                                {{ comment.createdAt|date }}
                            </small>
                            <br>
                            {{ comment.content }}
                        </p>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% block javasriptsblock %}
        <script src="{{ asset('js/comment.js') }}"></script>
        {{ include('like_slider_compare.html.twig') }}
    {% endblock %}
{% endblock %}
